@page
@model PruebaTecnicaWeb.Areas.Vuelos.Pages.IndexModel
@{
    Layout = "~/Areas/Vuelos/Pages/Shared/_Layout.cshtml";
}

<h3> Información de los vuelos</h3>

<div id="dataGridContainer"></div>

<script src="~/js/Vuelos.js"></script>