@page
@model PruebaTecnicaWeb.Areas.Vuelos.Pages.VuelosModel
@{
    Layout = "~/Areas/Vuelos/Pages/Shared/_Layout.cshtml";
}

hola mundo
<div id="dataGridContainer"></div>

<script src="~/js/site.js"></script>