@model PruebaTecnicaWeb.Models.UsuarioModel
@{
    ViewData["Title"] = "Ingreso al aplicativo";
}
<h1>@ViewData["Title"]</h1>


<div class="col-md-5" style="display:inline-block">  
        <div id="form-logueo"></div>   
</div>

<script src="~/js/Login.js"> 
</script>
