@using Microsoft.AspNetCore.Mvc
@{
    ViewData["Title"] = "Registro";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Comienze su registro</p>

    <div class="col-md-5" style="display:inline-block">       
        <div id="form-registro"></div>     
    </div>
</div>


<script src="~/js/registro.js"></script>